.title-container {
    display: flex;
    justify-content: space-around;
}

.title {
    margin-top: 25px;
    font-size: max(35px, 4.5vw);
    font-style: bold;
}

.border {
    background-color: gray;
    height: max(350px, 60vh);
    width: max(350px, 60vh);
    margin: auto;
    margin-top: 40px;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
}

.grid > button {
    border: none;
    background-color: white;
    font-size: max(230%, 7vh);
    max-width: 100%;
    max-height: 100%;
}

button:hover {
    cursor: pointer;
}

.clear-button,
.players-button {
    display: block;
    margin-top: 50px;
    border: none;
    background-color: white;
    height: 5vh;
    width: 12vw;
    font-size: max(14px, 1.3vw);
    border: solid black .5px;
}

.options-button-container {
    display: flex;
    padding: 0 35vw;
    justify-content: space-around;
    align-items: flex-end;
}

.playerForm {
    position: fixed;
    left: 28%;
    top: 20%;
    width: 40vw;
    height: 40vh;
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 2vw;
    display: grid;
    grid-template-columns: 3fr 4fr;
    padding-bottom: 2vw;
    justify-items: flex-end;
}

.playerForm > input[type='text'] {
    height: 50%;
    width: 90%;
    padding-left: 10px;
    justify-self: flex-start;
}

.playerForm > div {
    padding-right: 30px;
}

.submitButton {
    grid-column: 1/3;
    height: 70%;
    width: 40%;
    align-self: flex-end;
    justify-self: center;
}

.winWindow {
    position: fixed;
    left: 15%;
    top: 10%;
    width: 30vw;
    height: 45vh;
    border: 1px solid black;
    background-color: whitesmoke;
    padding: 20vh 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.winMessage {
    font-size: 50px;
}