.border {
    background-color: gray;
    height: 350px;
    width: 350px;
    margin: auto;
    margin-top: 40px;
}

.grid {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1px;
}

.grid > button {
    border: none;
    background-color: white;
    font-size: 200%;
    max-width: 100%;
    max-height: 100%;
}

button:hover {
    cursor: pointer;
}